[build-system]
requires = ["sip >=6, <7"]
build-backend = "sipbuild.api"

[tool.sip.metadata]
name = "${sip_module_name}"
version = "{{ module_version }}"
homepage = "{{ module_homepage }}"
author = "{{ module_author }}"
license = "{{ module_license }}"
requires-python =  "{{ python_version }}"
requires-external = [{{ external_deps }}]

[tool.sip.project]
sip-files-dir = "${sip_module_path}"
sip-include-dirs = [${sip_extra_include_dirs}]
build-dir = "${CMAKE_CURRENT_BINARY_DIR}/${sip_module_name}/"
verbose = true

[tool.sip.bindings.${sip_module_name}]
headers = [${sip_header_files}]
include-dirs = [${sip_include_dirs}{{ deps_include_dirs }}]
libraries = [{{ deps_libraries }}]
library-dirs = [{{ deps_library_dirs }}]
sources = [${sip_sources}]
extra-compile-args = [${sip_compile_args}{{ deps_compile_args }}]
extra-link-args = [{{ deps_link_args }}]
define-macros = [${sip_define_macros}{{ deps_define_macros }}]
exceptions = true
release-gil = true
debug = {{ build_type }}
concatenate = 8
